In [5]:
# 加载数据分析需要使用的库
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import datetime as dt
import warnings

In [6]:
df = pd.read_csv("./boss_5.csv",sep=',',encoding='gbk')
df.head(5)

,num,work_name,location,salary,work_year,educate,company_name,company_type,financing_conditions,company_size
0,1,数据标注/AI训练师,鄂州·鄂城区·滨湖北路,3-6K,5-7年,本科,中维数据,企业服务,天使轮,100-499人
1,2,ai数据标注,安阳·北关区·凯德广场,2-6K,5-7年,学历不限,安阳市鹏云网络科技,互联网,未融资,0-20人
2,3,数据标注/AI训练师,晋中·榆次区·定阳路,3-6K,3-5年,硕士,赵德柱点云科技,数据服务,天使轮,20-99人
3,4,ai,阜阳·颍州区·奎星路,3-4K,3-5年,博士,全知启航,其他行业,未融资,20-99人
4,5,AI人工智能训练师,洛阳·孟津区·孟津县中心城区,3-5K,1-3年,本科,墨白科技,数据服务,未融资,20-99人

In [7]:
df['city'] = df['location'].apply(lambda x: x[:2])

# Define the function to convert salary string to double
def convert_salary(row):
    salary = row['salary']
    if 'K' in salary:
        salary = salary.split('-')
        if len(salary) == 2:
            salary = (float(salary[0]) + float(salary[1].split('K')[0])) / 2 * 1000
            return salary
    return None

df['salary'] = df.apply(convert_salary, axis=1)

# 查看数据缺失情况
df.isnull().sum(axis=0)

# 统计各列空值的占比
# print(df.apply(lambda x:sum(x.isnull())/len(x),axis=0))

# 空值处理
## 删除salary为空值的行
df.dropna(subset=["salary"],inplace=True)

df.head(5)

,num,work_name,location,salary,work_year,educate,company_name,company_type,financing_conditions,company_size,city
0,1,数据标注/AI训练师,鄂州·鄂城区·滨湖北路,4500.0,5-7年,本科,中维数据,企业服务,天使轮,100-499人,鄂州
1,2,ai数据标注,安阳·北关区·凯德广场,4000.0,5-7年,学历不限,安阳市鹏云网络科技,互联网,未融资,0-20人,安阳
2,3,数据标注/AI训练师,晋中·榆次区·定阳路,4500.0,3-5年,硕士,赵德柱点云科技,数据服务,天使轮,20-99人,晋中
3,4,ai,阜阳·颍州区·奎星路,3500.0,3-5年,博士,全知启航,其他行业,未融资,20-99人,阜阳
4,5,AI人工智能训练师,洛阳·孟津区·孟津县中心城区,4000.0,1-3年,本科,墨白科技,数据服务,未融资,20-99人,洛阳

,num,work_name,location,salary,work_year,educate,company_name,company_type,financing_conditions,company_size,city
0,1,数据标注/AI训练师,鄂州·鄂城区·滨湖北路,4500.0,5-7年,本科,中维数据,企业服务,天使轮,100-499人,鄂州
1,2,ai数据标注,安阳·北关区·凯德广场,4000.0,5-7年,学历不限,安阳市鹏云网络科技,互联网,未融资,0-20人,安阳
2,3,数据标注/AI训练师,晋中·榆次区·定阳路,4500.0,3-5年,硕士,赵德柱点云科技,数据服务,天使轮,20-99人,晋中
3,4,ai,阜阳·颍州区·奎星路,3500.0,3-5年,博士,全知启航,其他行业,未融资,20-99人,阜阳
4,5,AI人工智能训练师,洛阳·孟津区·孟津县中心城区,4000.0,1-3年,本科,墨白科技,数据服务,未融资,20-99人,洛阳
5,6,人工智能数据标注,保定·涿州市·清凉寺,1500.0,7年以上,学历不限,彦犀科技,互联网,未融资,0-20人,保定
6,7,数据标注/ai训练师,日照·东港区·日照,3000.0,经验不限,本科,茜米数据,数据服务,未融资,20-99人,日照
7,8,数据标注/AI训练师,南阳·卧龙区·凤凰城,4000.0,3-5年,本科,南阳科思网络有限公司,互联网,未融资,100-499人,南阳
8,9,ai训练工程师,烟台·芝罘区·毓璜顶,7500.0,1-3年,大专,秦风软件,计算机软件,未融资,0-20人,烟台
9,10,AI英语陪练,长春·朝阳区·解放大路,4000.0,3-5年,本科,朝阳区领德智能技...,学术/科研,未融资,0-20人,长春

num                      0
work_name                0
location                 0
salary                  10
work_year                0
educate                  0
company_name             0
company_type             0
financing_conditions     0
company_size             0
city                     0
dtype: int64

num                     0.000000
work_name               0.000000
location                0.000000
salary                  0.006477
work_year               0.000000
educate                 0.000000
company_name            0.000000
company_type            0.000000
financing_conditions    0.000000
company_size            0.000000
city                    0.000000
dtype: float64

In [11]:
# 空值处理

## 删除salary为空值的行
df.dropna(subset=["salary"],inplace=True)

In [12]:
# 统计各列空值的占比
df.apply(lambda x:sum(x.isnull())/len(x),axis=0)

num                     0.0
work_name               0.0
location                0.0
salary                  0.0
work_year               0.0
educate                 0.0
company_name            0.0
company_type            0.0
financing_conditions    0.0
company_size            0.0
city                    0.0
dtype: float64

In [14]:
print(df.dtypes)

num                       int64
work_name                object
location                 object
salary                  float64
work_year                object
educate                  object
company_name             object
company_type             object
financing_conditions     object
company_size             object
city                     object
dtype: object

In [15]:
df.to_csv("./boss_5_new_jtw.csv", index=False, encoding='gbk')

In [17]:
a = df['city'].value_counts()
print(a)

city
北京    339
上海    158
深圳    124
杭州    122
广州    106
     ...
牡丹      1
香港      1
白银      1
聊城      1
泰州      1
Name: count, Length: 124, dtype: int64

In [20]:
b = df['educate'].value_counts()
print(b)

educate
本科      683
硕士      347
学历不限    179
大专      167
博士      158
Name: count, dtype: int64